$primary-bg: #282c34;
// $header-bg: #626364;
// $header-secondary: #393a3a;
$header-bg: rgba(255,255,255,0.15);
$header-secondary: rgba(255,255,255,0.25);
$link-color: #61dafb;

$cow-color: #c1c106;
$bull-color: #07b862;

body {
  // background-color: $primary-bg;
  color: #fff;
}

#root {
  position: fixed;
  // background-image: linear-gradient(to right bottom, #051937, #3e205b, #850464, #c5004c, #eb1212);
  // background-image: linear-gradient(to right bottom, #eb1212, #cd0039, #a0004d, #6c0053, #34004a);
  background-image: linear-gradient(to right bottom, #ba2929, #a0003a, #7e0043, #570045, #2d023f);
}

.App {
  text-align: center;
  width: 100vw;
  font-family: 'Catamaran', sans-serif;
  font-size: 1em;
}

.link {
  border: none;
  background: none;
  color: $link-color;
  cursor: pointer;
  
  &:hover {
    color: darken($link-color, 25%);
  }
  
  &:focus {
    outline: none;
  }
}

.element-inline {
  display: inline-block;
}

.element-inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.soft-hide {
  visibility: hidden;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #d4d6d9;
  border-radius: 4px;
  margin: 5px;
  background: #F5F7F9;
  min-width: 225px;
}

.cow-bg {
  background: $cow-color;
  color: #000;
}

.bull-bg {
  background: $bull-color;
  color: #000;
}