$primary-bg: #282c34;
// $header-bg: #626364;
// $header-secondary: #393a3a;
$header-bg: rgba(255,255,255,0.15);
$header-secondary: rgba(255,255,255,0.25);
$link-color: #61dafb;

$cow-color: #c1c106;
$bull-color: #07b862;

body {
  // background-color: $primary-bg;
  color: #fff;
}

#root {
  position: fixed;
  background-image: linear-gradient(to right bottom, #051937, #3e205b, #850464, #c5004c, #eb1212);
  background-image: linear-gradient(to right bottom, #eb1212, #cd0039, #a0004d, #6c0053, #34004a);
  background-image: linear-gradient(to right bottom, #ba2929, #a0003a, #7e0043, #570045, #2d023f);
}

.App {
  text-align: center;
  width: 100vw;
  font-family: 'Catamaran', sans-serif;
  font-size: 1em;
}

.link {
  border: none;
  background: none;
  color: $link-color;
  cursor: pointer;
  
  &:hover {
    color: darken($link-color, 25%);
  }
  
  &:focus {
    outline: none;
  }
}

.element-inilne {
  display: inline-block;
}

.element-inilne-middle {
  display: inline-block;
  vertical-align: middle;
}

.soft-hide {
  visibility: hidden;
}


.App-header {
  background-color: $header-bg;
  height: 8vh;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.35s ease-in-out;
  
  div.coins, div.choice {
    flex: 1;
    // background: rgba(255,255,255,0.1);
    // border-radius: 25px;
    padding: 8px 5px;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 55%,rgba(255, 255, 255, 0.1) 50%,rgba(0,0,0,0) 47%, rgba(0,0,0,0) 48%);
    font-size: 10px;
    line-height: 3px;
    max-width: 50px;
    box-sizing: border-box;
  }

  div.coins {
    font-size: 20px;
    padding: 18px 5px;
    background: radial-gradient(circle at center, rgba(117, 99, 8, 0.98) 0%, rgb(253, 188, 3) 55%, rgba(45, 34, 1, 0.98) 50%, rgba(255, 214, 4, 0.97) 47%, rgba(0, 0, 0, 0) 48%);
  }

  div.title {
    flex: 8;
    font-size: 1.5em;
  }
  .sub-title {
    display: none;
  }
  
}

.App.gamemode-off {
  .App-header {
    height: 100vh;
    flex-direction: column;
    background-color: $header-secondary;
    
    div.coins, div.choice {
      display: none;
    }
    div {
      flex: none;
    }
    div.title {
      font-size: 3em;
    }
    .sub-title {
      display: block;  
      .link{
        font-size: 1.25em;
        margin: 0 10px;
      }
    }
  }
  .game {
    display: none;
  }
}


.game {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 92vh;
  position: relative;

  .dummy {
    flex-grow: 1;
  }
  
  .game__input-container {
    width: 100%;
    margin-bottom: 100px;
    box-sizing: border-box;
    
      input  {
        outline: 0;
        // border: 0;
        display: block;
        border: 1px solid #ddd;
        padding: 5px 10px;
        border-radius: 2px;
        transition: 0.2s ease-in-out;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
        font-size: 1em;
        width: 100%;
        box-sizing: border-box;
        max-width: 7em;
        font-size: 1.5em;
        letter-spacing: 0.5em;
        margin: 5px auto;
        text-align: center;
        text-transform: uppercase;
        
        &:focus, &:active {
          border-color: darken(#ddd,2%);
          box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.8);
          // box-shadow: 3px 4px 6px 1px #444;
          // margin-bottom: 3em;
          // margin-bottom: 1em;
          transform: translateY(-5px);
          left: 0;
        }
        
        &::placeholder {
            letter-spacing: 0.5px;
            font-size: 0.65em;
            text-transform: none;
            text-align: left;
        }
      }
  }

  .guess-{
    
    &container {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      padding: 1em 0;
      overflow-y: auto;
      scroll-behavior: smooth;
      text-transform: uppercase;


      .guess {
          margin: 0.25em;
          padding: 0.25em;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          transition: 0.2s ease-in-out;
          animation: 0.2s addFromBottom ease-in-out forwards;
      }
    }

    &word {
      font-weight: bold;
      margin: 0 0.75em;
      width: 25%;
      display: inline-block;
      text-align: center;
    }

    &result {
      font-size: 0.9em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 3px;
    }

    &cow {
      color: $cow-color;
    }

    &bull {
      color: $bull-color;
    }
    
  }

  .won-message {
    font-size: 1.5em;
  }
}


@keyframes addFromBottom {
  0% {
    transform: translateY(300px);
    height: 0;
    opacity: 0;
  }
  50% {
    transform: translateY(150px);
    height: auto;
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    height: auto;
    opacity: 1;
  }
}






